body{
	font: 1rem 'Open sans';
	background: #1e1e1e;
	color: #333;
}

.tabs{
	width: 30rem;
	background: #fff;
	border-radius: .3rem;
	display: flex;
	flex-wrap: wrap;
}
.tabs input{
	display: none;
}


.tabs label{
	float: 1;
	text-align: center;
	line-height: 3.6rem;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	margin: 30px;
	transition: background-color .2s ease, box-shadow .2s ease;
}
.tabs label:hover{
	background: #0001;
}

.tabs input:checked + label{
	box-shadow: inset 0 -.2rem #ff506f;
}

.container{
	display: flex;
	overflow: hidden;
}

.contenido{
	flex: 0 0 30rem;
	padding: 2.4rem;
	box-sizing: border-box;
	transition: transform .5s ease;
}

.tabs input:nth-of-type(2):checked ~ .container .contenido{
	transform: translateX(-100%);
}

.tabs input:nth-of-type(3):checked ~ .container .contenido{
	transform: translateX(-200%);
}


img{
	width: 200px;
}
